body{
  margin:0;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#020617,#0f172a);
  font-family:'Poppins', sans-serif;
}

.app{
  width:360px;
  text-align:center;
}

.app-header h1{
  margin:0;
  font-family:'Montserrat', sans-serif;
  font-size:34px;
  font-weight:700;
  color:#38bdf8;
  animation:glow 4s infinite;
}

@keyframes glow{
  0%{text-shadow:0 0 6px #38bdf8;}
  50%{text-shadow:0 0 16px #818cf8;}
  100%{text-shadow:0 0 6px #38bdf8;}
}

.app-header span{
  font-size:13px;
  color:#94a3b8;
}

.player{
  margin-top:30px;
  padding:26px;
  border-radius:20px;
  background:rgba(255,255,255,0.08);
  box-shadow:0 25px 55px rgba(0,0,0,0.5);
}

.wave{
  display:flex;
  justify-content:center;
  gap:5px;
  margin-bottom:18px;
}

.wave span{
  width:4px;
  height:20px;
  background:#38bdf8;
  border-radius:4px;
  animation:wave 1.2s infinite ease-in-out;
}

body:not(.playing) .wave span{
  animation-play-state:paused;
}

@keyframes wave{
  0%,100%{height:10px}
  50%{height:36px}
}

.song-info h2{
  margin:0;
  color:#f8fafc;
  font-weight:500;
}

.song-info p{
  margin:6px 0 22px;
  color:#c7d2fe;
  font-size:14px;
}

.controls{
  display:flex;
  justify-content:center;
  gap:22px;
  margin-bottom:22px;
}

.controls button{
  width:60px;
  height:60px;
  border:none;
  border-radius:50%;
  background:#2563eb;
  color:white;
  font-size:20px;
  cursor:pointer;
  transition:0.3s;
  box-shadow:0 8px 20px rgba(59,130,246,0.4);
}

.controls button:hover{
  transform:scale(1.15);
}

.progress{
  width:100%;
  height:6px;
  background:rgba(255,255,255,0.2);
  border-radius:10px;
  overflow:hidden;
}

.progress div{
  height:100%;
  width:0%;
  background:#38bdf8;
  transition:0.2s linear;
}


